
<%- include("./partials/_head", {title:"Home page!"})%>
  <body>
    <%- include("./partials/_header") %>
    <main>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat accusamus omnis
        voluptatum tenetur quam unde earum deleniti maiores eligendi. Necessitatibus
        reiciendis ratione aperiam dolorum earum, nisi fugiat amet a. Libero!
      </p>
    </main>
  </body>
</html>
