<style>
  header {
    background: #b0b;
    color: #bada55;
    padding: 1em;
    font-family: "Comic Sans MS";
    font-weight: 900;
  }
  h2 {
    color: #c0ffee;
    /* 0-9 A-F */
  }
</style>
<header>
  <h1>SUPER DUPER USER EXTRAVANGAZA</h1>
  <h2>Picking cool colors since 14h11</h2>
</header>
