.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

header{
  background-color: #b0b;;
  padding:1em;
  text-align: center;
}

section{
  padding:0.5em;
  display:flex;
  flex-wrap: wrap;
  gap:0.5em;
}

section article{
  width:40%;
  border: 0.2em solid white;
  padding:1em;
}

article.happy{
  border-color:green
}

article.sad{
  border-color: red;
}